#map {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
}

body {
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
